.x{
    font-size: 25px;
    
}
.a{
    color: rgb(9, 9, 38);
}
.b{
    color: blue;
}
.c{
    color: rgb(7, 7, 88);
}
.d{
    color: rgb(46, 121, 46);
}
.e{
    color: rgb(9, 89, 9);
}
.f{
    color: rgb(247, 149, 165);
}
.g{
    color: aqua;
}
.h{
    color: rgb(247, 149, 165);
}
.i{
    color: grey;
}
