*{
    margin: 0%;
    padding: 0%;
}
.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
  }
  
  .wrapper > * {
    padding: 100px;
    flex: 1 100%;
    margin: -40px;
  }
  
  .header {
    background: greenyellow;
  }
  
  .footer {
    background: greenyellow;
  }
  
  .main {
    text-align: left;
    background: white;
  }
  
  .aside-1 {
    background: rgb(193, 193, 250);
  }
  
  .aside-2 {
    background: rgb(234, 191, 148);
  }
  
  @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }
  
  body {
    padding: 2em; 
  }