.red{
    height: 100px;
    background-color: red;
}
.yellow{
    height: 130px;
    background-color: yellow;
}
.red{
    height: 100px;
    background-color: red;
}

.crvena{
    height: 100px;
    background-color: red;
}
.bela{
    height: 100px;
    background-color: white;
}
.plava{
    height: 100px;
    background-color: blue;
}
